RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RedirectMatch permanent "^/img/(bali|india|israel)(.*)" "/$1$2"

ErrorDocument 404 /404.html

<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self'; script-src 'unsafe-inline' 'self' https://www.googletagmanager.com https://www.google-analytics.com; connect-src https://www.google-analytics.com; style-src 'unsafe-inline' 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' https://www.google-analytics.com; frame-src 'self' https://*.spotify.com"
    Header set X-Frame-Options DENY

    <FilesMatch "\.html$">
        Header set Link <https://fonts.googleapis.com/>; rel=preconnect
        Header set Link <https://fonts.gstatic.com/>; rel=preconnect
    </FilesMatch>
    <FilesMatch "\.(jpg|jpeg|webp|png|svg|ico)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>
</IfModule>

# Enable GZIP compression for all text files
<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/atom+xml \
                                      application/javascript \
                                      application/json \
                                      application/ld+json \
                                      application/rss+xml \
                                      application/vnd.ms-fontobject \
                                      application/x-font-ttf \
                                      application/x-web-app-manifest+json \
                                      application/xhtml+xml \
                                      application/xml \
                                      font/opentype \
                                      image/svg+xml \
                                      image/x-icon \
                                      text/css \
                                      text/html \
                                      text/plain \
                                      text/x-component \
                                      text/xml
    </IfModule>
</IfModule>
